button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.on {
  color: #f77b22;
  padding: 0;
}

.off {
  color: #aeacac;
  padding: 0;
}

.star {
  font-size: 1.1rem;
}
