:root {
  --header-height: 3rem;
  --nav-width: 68px;
  --first-color: #f7f5fa;
  --first-color-alt: #333;
}

main {
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-size: 1rem;
  font-family: 'Nunito Sans', sans-serif;
  transition: 0.5s;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--header-height);
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  transition: 0.5s;
  justify-content: space-between;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--first-color);
}

.header-search {
  margin-right: 2rem;
}

.header-toggle {
  font-size: 1.25rem;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -30%;
  height: 100vh;
  width: var(--nav-width);
  background-color: var(--first-color);
  padding-top: 1rem;
  transition: 0.5s;
}

.profile-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  border-radius: 50%;
  overflow: hidden;
  width: 80px;
  height: 80px;
  border: 2px solid var(--first-color-alt);
  margin-bottom: -25rem;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  border-radius: 50%;
  overflow: hidden;
  width: 50px;
  height: 50px;
  border: 2px solid var(--first-color-alt);
  margin-bottom: -25rem;
}

.sidebar-items-container {
  display: flex;
  flex-direction: column;
  padding-top: -45rem;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  height: 100%;
}

.nav-logo,
.nav-link {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 2rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
}

.nav-logo {
  margin-bottom: 2rem;
}

.nav-logo-icon {
  font-size: 1.25rem;
  color: #333;
  cursor: pointer;
}

.nav-logo-name {
  font-weight: 700;
  color: #333;
}

.nav-link {
  position: relative;
  color: #333;
  transition: 0.5s;
  margin-bottom: 1.5rem;
}

.nav-link:hover {
  color: #333;
  background-color: rgba(0, 0, 0, 0.1);
}

.active {
  color: #333;
  background-color: rgba(0, 0, 0, 0.1);
}

.active::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 38px;
  width: 3px;
  background-color: #333;
  transition: 0.5s;
}

.show {
  left: 0;
}

.space-toggle {
  padding-left: calc(var(--nav-width) + 1rem);
}

@media screen and (min-width: 768px) {
  main {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding: 0 1rem 0 calc(var(--nav-width) + 2rem);
  }

  .header {
    height: calc(var(--header-height) + 1rem);
    padding-left: calc(var(--nav-width) + 2rem);
  }

  .search-icon {
    margin-right: 6rem;
  }

  .sidebar {
    left: 0;
    padding: 1rem 0 0 0;
  }

  .show {
    width: calc(var(--header-height) + 156px);
  }

  .space-toggle {
    padding-left: calc(var(--nav-width) + 188px);
  }
}

@media screen and (min-width: 1024px) {
  main {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding: 0 1rem 0 calc(var(--nav-width) + 2rem);
  }

  .header {
    height: calc(var(--header-height) + 1rem);
    padding-left: calc(var(--nav-width) + 2rem);
  }

  .search-icon {
    margin-right: 6rem;
  }

  .sidebar {
    left: 0;
    padding: 1rem 0 0 0;
  }

  .show {
    width: calc(var(--header-height) + 156px);
  }

  .space-toggle {
    padding-left: calc(var(--nav-width) + 188px);
  }
}
