.details-page-container {
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: 40rem;
  z-index: 1;
  margin: 0 auto;
}

.details-top-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 7%;
  width: 71%;
  padding: 0 0.1rem;
}

.details-title {
  color: #555;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.search-icon {
  height: 1rem;
  width: 1rem;
}

.details-middle-section {
  position: relative;
}

.details-image {
  height: 55vh;
  width: 100%;
  object-fit: cover;
}

.image-inner-text {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 0 0.2rem;
}

.left-side {
  justify-content: flex-start;
}

.details-profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 0.2em;
}

.details-profile-image {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  object-fit: cover;
  background-color: #f2f2f2;
}

.details-user-data {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: left;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
}

.image-inner-text p {
  margin: 0 0.5rem;
  font-weight: 600;
  font-size: 0.8rem;
}

.details-price {
  font-size: 1.2rem;
  font-weight: 600;
  color: #ff6026;
}

.details-description-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30%;
  padding: 0 1rem;
}

.details-description-title {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0.1rem;
  margin-top: 1rem;
  text-align: center;
}

.details-page-description {
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: #555;
  text-align: justify;
  margin-top: 0.5rem;
}

.details-read-more-icon {
  margin-top: -0.1rem;
  margin-bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}

.details-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 8%;
  background-color: #ff6026;
  margin-top: 0.2rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.details-footer-text {
  font-size: 0.9rem;
  font-weight: 600;
  margin-right: 0.5rem;
  color: white;
}

.details-footer-button {
  border: none;
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}

/* Media Query */

@media screen and (min-width: 320px) {
  .details-page-container {
    width: 90vw;
    height: 40rem;
  }

  .details-top-section {
    height: 5%;
  }

  .details-title {
    font-size: 1.2rem;
  }

  .search-icon {
    height: 1.2rem;
    width: 1.2rem;
    margin: 0 0.5rem;
  }

  .details-middle-section {
    height: 60%;
  }

  .details-image {
    height: 100%;
  }

  .image-inner-text {
    top: 80%;
  }

  .details-profile-image {
    height: 5rem;
    width: 5rem;
  }

  .details-user-data {
    margin-left: 1rem;
  }

  .details-description-section {
    height: 30%;
  }

  .details-description-title {
    font-size: 1.2rem;
  }

  .details-page-description {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }

  .details-footer {
    height: 5%;
  }

  .details-footer-text {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 375px) {
  .details-page-container {
    width: 90vw;
    height: 40rem;
  }

  .details-top-section {
    height: 5%;
  }

  .details-title {
    font-size: 1.2rem;
  }

  .search-icon {
    height: 1.2rem;
    width: 1.2rem;
    margin: 0 0.5rem;
  }

  .details-middle-section {
    height: 60%;
  }

  .details-image {
    height: 100%;
  }

  .image-inner-text {
    top: 80%;
  }

  .details-profile-image {
    height: 5rem;
    width: 5rem;
  }

  .details-user-data {
    margin-left: 1rem;
  }

  .details-description-section {
    height: 30%;
  }

  .details-description-title {
    font-size: 1.2rem;
  }

  .details-page-description {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }

  .details-footer {
    height: 5%;
  }

  .details-footer-text {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 425px) {
  .details-page-container {
    width: 90vw;
    height: 40rem;
  }

  .details-top-section {
    height: 5%;
  }

  .details-title {
    font-size: 1.2rem;
  }

  .search-icon {
    height: 1.2rem;
    width: 1.2rem;
    margin: 0 0.5rem;
  }

  .details-middle-section {
    height: 60%;
  }

  .details-image {
    height: 100%;
  }

  .image-inner-text {
    top: 80%;
  }

  .details-profile-image {
    height: 5rem;
    width: 5rem;
  }

  .details-user-data {
    margin-left: 1rem;
  }

  .details-description-section {
    height: 30%;
  }

  .details-description-title {
    font-size: 1.2rem;
  }

  .details-page-description {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }

  .details-footer {
    height: 5%;
  }

  .details-footer-text {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 640px) {
  .details-page-container {
    width: 90vw;
    height: 40rem;
  }

  .details-top-section {
    height: 5%;
  }

  .details-title {
    font-size: 1.2rem;
  }

  .search-icon {
    height: 1.2rem;
    width: 1.2rem;
    margin: 0 0.5rem;
  }

  .details-middle-section {
    height: 60%;
  }

  .details-image {
    height: 100%;
  }

  .image-inner-text {
    top: 80%;
  }

  .details-profile-image {
    height: 5rem;
    width: 5rem;
  }

  .details-user-data {
    margin-left: 1rem;
  }

  .details-description-section {
    height: 30%;
  }

  .details-description-title {
    font-size: 1.2rem;
  }

  .details-page-description {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }

  .details-footer {
    height: 5%;
  }

  .details-footer-text {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) {
  .details-page-container {
    height: 100vh;
    width: 80vw;
    margin-left: 5rem;
  }

  .details-top-section {
    height: 5%;
  }

  .details-title {
    font-size: 1.2rem;
  }

  .search-icon {
    height: 1.2rem;
    width: 1.2rem;
    margin: 0 0.5rem;
  }

  .details-middle-section {
    height: 60%;
  }

  .details-image {
    height: 100%;
  }

  .image-inner-text {
    top: 80%;
  }

  .details-profile-image {
    height: 5rem;
    width: 5rem;
  }

  .details-user-data {
    margin-left: 1rem;
  }

  .details-description-section {
    height: 30%;
  }

  .details-description-title {
    font-size: 1.2rem;
  }

  .details-page-description {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .details-footer {
    height: 5%;
  }

  .details-footer-text {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 820px) {
  .details-page-container {
    height: 100vh;
  }

  .details-top-section {
    height: 5%;
  }

  .details-title {
    font-size: 1.2rem;
  }

  .search-icon {
    height: 1.2rem;
    width: 1.2rem;
    margin: 0 0.5rem;
  }

  .details-middle-section {
    height: 60%;
  }

  .details-image {
    height: 100%;
  }

  .image-inner-text {
    top: 80%;
  }

  .details-profile-image {
    height: 5rem;
    width: 5rem;
  }

  .details-user-data {
    margin-left: 1rem;
  }

  .details-description-section {
    height: 30%;
  }

  .details-description-title {
    font-size: 1.2rem;
  }

  .details-page-description {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .details-footer {
    height: 5%;
  }

  .details-footer-text {
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  .details-page-container {
    height: 100vh;
  }

  .details-top-section {
    height: 5%;
  }

  .details-title {
    font-size: 1.2rem;
  }

  .search-icon {
    height: 1.2rem;
    width: 1.2rem;
    margin: 0 0.5rem;
  }

  .details-middle-section {
    height: 60%;
  }

  .details-image {
    height: 100%;
  }

  .image-inner-text {
    top: 80%;
  }

  .details-profile-image {
    height: 5rem;
    width: 5rem;
  }

  .details-user-data {
    margin-left: 1rem;
  }

  .details-description-section {
    height: 30%;
  }

  .details-description-title {
    font-size: 1.2rem;
  }

  .details-page-description {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .details-footer {
    height: 5%;
  }

  .details-footer-text {
    font-size: 1.2rem;
  }
}
